body{
  margin: 0;
  background-color: #212121;
}
.Icon {
  width: 50px;
  padding-top: 2px;
  padding-right: 50px;
  padding-left: 50px;
  filter: drop-shadow(3px 3px 15px #3b3b3b);
}
#Parallax {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('BG.png');
  background-repeat: no-repeat;
  background-size: 135%;
}
@media only screen and (max-width: 850px) {
  #Parallax {
    background-position: center;
    height: 100vh;
    background-size: cover;
    }
}
@media only screen and (max-width: 850px) {
  .Icon {
    width: 35px;
    padding-top: 2px;
    padding-right: 30px;
    padding-left: 30px;
    filter: drop-shadow(3px 3px 15px #3b3b3b);
    }
}
